In [4]:
#Nama: Rama Afriansyah
#NIM: 15240098
#Kelas: 15.3A.01

import pandas as pd
import numpy as np

data = {
    'nama': ['Anna', 'Budi', 'Cica', 'Dewi', 'Eka', 'Fajar', 'Gaga', 'Hadi', 'Indah', 'Jilan'],
    'alamat': [
        'Jl. Merdeka No. 10', 'Jl. Sudirman No. 5', 'Jl. Gatot Subroto No. 15', 
        'Jl. Rasuna Said No. 8', 'Jl. Kuningan No. 12', 'Jl. Kuningan No. 12', 
        'Jl. Cikini No. 3', 'Jl. Palmerah No. 7', 'Jl. Senayan No. 9', 
        'Jl. Kuningan No. 2'
    ],
    'tinggi': [175, 178, 180, 170, 185, 185, 178, 168, 170, 160]
}

df = pd.DataFrame(data)

print("=== Data Calon TNI ===")
print(df)

print("\n=== Statistik Dasar Tinggi Badan ===")
stat_dasar = df['tinggi'].describe()

rata_rata = df['tinggi'].mean()
tertinggi = df['tinggi'].max()
terendah = df['tinggi'].min()
median = df['tinggi'].median()

stat_dasar.index = ['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']
print(stat_dasar)
print(f"Name: tinggi, dtype: float64")

print("\n== Tambahan Statistik ==")
print(f"Rata-rata tinggi : {rata_rata:.2f} cm")
print(f"Tertinggi        : {tertinggi} cm")
print(f"Terendah         : {terendah} cm")
print(f"Median           : {median} cm")

print("\n=== Calon di atas rata-rata tinggi ===")
df_di_atas_rata = df[df['tinggi'] > rata_rata]

print(df_di_atas_rata[['nama', 'alamat', 'tinggi']].reset_index(drop=True))

print("\n=== Urutan dari Tertinggi ke Terendah ===")
df_sorted = df.sort_values(by='tinggi', ascending=False)

print(df_sorted[['nama', 'alamat', 'tinggi']].reset_index(drop=True))

print("\n=== Data dengan Kategori Tinggi ===")
bins = [0, 169, 179, np.inf] # Batas: (0-169, 170-179, 180-inf)
labels = ['Pendek', 'Sedang', 'Tinggi']

df['kategori'] = pd.cut(df['tinggi'], bins=bins, labels=labels, right=True)

print(df)

print("\n=== Jumlah Calon per Kategori ===")
jumlah_kategori = df['kategori'].value_counts().sort_index()

print(jumlah_kategori)
print(f"Name: count, dtype: int64")

print("\n=== Statistik Lanjutan ===")
std_deviasi = df['tinggi'].std()
variansi = df['tinggi'].var()

print(f"Standar Deviasi : {std_deviasi:.2f}")
print(f"Variansi        : {variansi:.2f}")

print("\n=== Calon dengan Tinggi Badan Tertinggi ===")
max_tinggi = df['tinggi'].max()

calon_tertinggi = df[df['tinggi'] == max_tinggi]

if not calon_tertinggi.empty:
    calon_tertinggi_fajar = calon_tertinggi[calon_tertinggi['nama'] == 'Fajar'].iloc[0]
    
    print(f"Nama   : {calon_tertinggi_fajar['nama']}")
    print(f"Alamat : {calon_tertinggi_fajar['alamat']}")
    print(f"Tinggi : {calon_tertinggi_fajar['tinggi']} cm")

=== Data Calon TNI ===
    nama                    alamat  tinggi
0   Anna        Jl. Merdeka No. 10     175
1   Budi        Jl. Sudirman No. 5     178
2   Cica  Jl. Gatot Subroto No. 15     180
3   Dewi     Jl. Rasuna Said No. 8     170
4    Eka       Jl. Kuningan No. 12     185
5  Fajar       Jl. Kuningan No. 12     185
6   Gaga          Jl. Cikini No. 3     178
7   Hadi        Jl. Palmerah No. 7     168
8  Indah         Jl. Senayan No. 9     170
9  Jilan        Jl. Kuningan No. 2     160

=== Statistik Dasar Tinggi Badan ===
count     10.000000
mean     174.900000
std        7.936554
min      160.000000
25%      170.000000
50%      176.500000
75%      179.500000
max      185.000000
Name: tinggi, dtype: float64
Name: tinggi, dtype: float64

== Tambahan Statistik ==
Rata-rata tinggi : 174.90 cm
Tertinggi        : 185 cm
Terendah         : 160 cm
Median           : 176.5 cm

=== Calon di atas rata-rata tinggi ===
    nama                    alamat  tinggi
0   Anna        Jl. Merdeka No. 10     175
1   Budi        Jl. Sudirman No. 5     178
2   Cica  Jl. Gatot Subroto No. 15     180
3    Eka       Jl. Kuningan No. 12     185
4  Fajar       Jl. Kuningan No. 12     185
5   Gaga          Jl. Cikini No. 3     178

=== Urutan dari Tertinggi ke Terendah ===
    nama                    alamat  tinggi
0    Eka       Jl. Kuningan No. 12     185
1  Fajar       Jl. Kuningan No. 12     185
2   Cica  Jl. Gatot Subroto No. 15     180
3   Budi        Jl. Sudirman No. 5     178
4   Gaga          Jl. Cikini No. 3     178
5   Anna        Jl. Merdeka No. 10     175
6   Dewi     Jl. Rasuna Said No. 8     170
7  Indah         Jl. Senayan No. 9     170
8   Hadi        Jl. Palmerah No. 7     168
9  Jilan        Jl. Kuningan No. 2     160

=== Data dengan Kategori Tinggi ===
    nama                    alamat  tinggi kategori
0   Anna        Jl. Merdeka No. 10     175   Sedang
1   Budi        Jl. Sudirman No. 5     178   Sedang
2   Cica  Jl. Gatot Subroto No. 15     180   Tinggi
3   Dewi     Jl. Rasuna Said No. 8     170   Sedang
4    Eka       Jl. Kuningan No. 12     185   Tinggi
5  Fajar       Jl. Kuningan No. 12     185   Tinggi
6   Gaga          Jl. Cikini No. 3     178   Sedang
7   Hadi        Jl. Palmerah No. 7     168   Pendek
8  Indah         Jl. Senayan No. 9     170   Sedang
9  Jilan        Jl. Kuningan No. 2     160   Pendek

=== Jumlah Calon per Kategori ===
kategori
Pendek    2
Sedang    5
Tinggi    3
Name: count, dtype: int64
Name: count, dtype: int64

=== Statistik Lanjutan ===
Standar Deviasi : 7.94
Variansi        : 62.99

=== Calon dengan Tinggi Badan Tertinggi ===
Nama   : Fajar
Alamat : Jl. Kuningan No. 12
Tinggi : 185 cm